@media screen and (max-width: 479px) {
  .test-item-text {
    min-height: 200px;
  }
}

.answer-btn-container  {
  row-gap: 20px;
}

.answer-btn-container button {
  min-width: 200px;
  max-width: 358px;
}
