:root {
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px 10px;
}
input {
  padding: 8px;
  font: inherit;
}
button {
  cursor: pointer;
}
h1,h6 {
  text-align: center;
}

.menu-item {
  max-width: 500px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(221, 189, 141);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.return {
  font-size: 16px;
  font-weight: 600;
}
.return a {
  color: #f01616;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.test-item-text {
  font-size: 20px;
  font-weight: 900;
  min-height: 180px;
  text-align: center;
  margin-bottom: 10px;
}

.answer-container {
  display: none;
  justify-content: space-around;
}
.answer-btn {
  font-size: 20px;
  font-weight: 700;
  background-color: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.answer-btn.disabled {
  background-color: #c7bcba;
  color: #d0d0d4;
}
.user {
  margin: 10px;
  font-size: 24px;
  font-weight: 900;
}

.result {
  font-size: 24px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: auto;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.feedback-form label {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.feedback-form button {
  max-width: 120px;
  margin-left: auto;
  padding: 8px 12px;
  font: inherit;
  font-size: 16px;
  cursor: pointer;
  background-color: #b6eb94;
}
.date {
  margin-top: 15px;
  margin-left: 150px;
  font-size: 18px;
}
.time {
  margin-right: 15px;
}
.btn-list button {
  color: #000000;
  background-color: #d3d3d3;
  border: 1px solid #000000;
}

/* for third test */
.answer-btn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  height: 500px;
}
.answer-btn-container button {
  min-width: 150px;
  background-color: #4d5ae5;
  color: #f4f4fd;
}

/* for fourth test */
.main-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.btn-list {
  flex-direction: column;
  row-gap: 15px;
}
.btn-list button {
  font-weight: 500;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  text-align: start;
  line-height: 1.5;
}

/* for fifth test */
.column-wrapper {
  display: flex;
  justify-content: center;
}
.title {
  display: none;
  flex-direction: column;
  padding: 0 10px;
  gap: 188px;
  font-size: 14px;
  font-weight: 600;
}
.test-container {
  display: flex;
  flex-direction: column;
  width: 140px;
}
.test-container .test-item-text {
  min-height: 42px;
  font-size: 14px;
  margin-bottom: 20px;
}
.left-wrapper {
  margin: 0;
  min-width: 140px;
}
.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 18px;
  min-height: 364px;
}

.button-list .btn {
  padding: 8px;
  font-size: 14px;
  font-weight: 900;
}

/* for sixth test */
.main-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.title-wrapper {
  display: none;
  position: absolute;
  top: 20%;
  left: 5%;
  flex-direction: column;
  gap: 8px;
  max-width: 88px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
}
.test-wrapper {
  margin: 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test-wrapper .test-item-text {
  min-height: 63px;
  font-size: 14px;
  margin-bottom: 20px;
}
.test-wrapper .button-list {
  padding: 18px 36px;
  font-size: 14px;
  font-weight: 900;
  margin-left: auto;
}
.test-wrapper .button-list .btn {
  padding: 18px 36px;
  font-size: 14px;
  font-weight: 900;
}

@media screen and (max-width: 479px) {
  .test-item-text {
    margin-bottom: 20px;
  }
  .answer-btn-container {
    row-gap: 30px;
    max-height: 70vh;
  }
  .answer-btn-container button {
    min-width: 110px;
    background-color: #4d5ae5;
    color: #f4f4fd;
  }

  .form-question {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form-question p {
    font-weight: 800;
  }

  .form-question button {
    max-width: 250px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    margin: 0 auto;
  }
  .result {
    font-size: 16px;
  }

  .date {
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  .column-wrapper {
    gap: 20px;
  }
  .test-item-text {
    min-height: 150px;
  }
  /* for fifth test */
  .title {
    font-size: 18px;
  }
  .test-container {
    width: 220px;
  }
  .test-container .test-item-text {
    min-height: 54px;
    font-size: 18px;
    margin-bottom: 0px;
  }
  .right-wrapper {
    margin-top: 14px;
  }
  .button-list {
    min-height: 410px;
  }
  .title-wrapper {
    left: 15%;
  }
  .button-list .btn {
    font-size: 18px;
  }
  .test-wrapper {
    width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .feedback-form label {
    font-size: 20px;
  }
  h1 {
    font-size: 22px;
  }
  .test-item-text {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .test-item-text {
    min-height: 100px;
  }
  /* for fifth test */
  .column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    gap: 144px;
    font-size: 20px;
    font-weight: 900;
  }
  .test-container .test-item-text {
    font-size: 16px;
    min-width: 130px;
  }
  .test-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }
  .right-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4px;
  }
  .button-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .button-list .btn {
    padding: 15px;
    font-size: 20px;
    font-weight: 900;
  }
  .title-wrapper {
    /* flex-direction: row; */
    padding: 0 20px;
    font-size: 16px;
    font-weight: 900;
    max-width: 120px;
    top: 25%;
  }
  .test-wrapper .test-item-text {
    min-width: 310px;
    min-height: 120px;
    font-size: 20px;
  }
  .test-wrapper .button-list {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .return a:hover {
    color: #086634;
  }
  .answer-btn:hover {
    background-color: #404bbf;
    color: #ffffff;
    border-color: #404bbf;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .test-item-text {
    min-height: 100px;
  }
  .btn-list button {
    min-width: 600px;
    font-size: 20px;
  }
  /* for fifth test */
  .title {
    gap: 206px;
  }
  .test-container .test-item-text {
    font-size: 20px;
    min-width: 150px;
  }
  .test-container {
    gap: 16px;
  }
  .right-wrapper {
    gap: 36px;
  }
}
