:root {
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px 10px;
}
input {
  padding: 8px;
  font: inherit;
}
button {
  cursor: pointer;
}
h1 {
  text-align: center;
}
.return {
  font-size: 16px;
  font-weight: 600;
}
.return a {
  color: #f01616;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.test-item-text {
  font-size: 20px;
  font-weight: 900;
  min-height: 180px;
  text-align: center;
  margin-bottom: 10px;
}

.answer-container {
  display: none;
  justify-content: space-around;
}
.answer-btn {
  font-size: 20px;
  font-weight: 700;
  background-color: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.user {
  margin: 10px;
  font-size: 24px;
  font-weight: 900;
}

.result {
  font-size: 24px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: auto;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.feedback-form label {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.feedback-form button {
  max-width: 120px;
  margin-left: auto;
  padding: 8px 12px;
  font: inherit;
  font-size: 16px;
  cursor: pointer;
  background-color: #b6eb94;
}
.date {
  margin-top: 15px;
  margin-left: 150px;
  font-size: 18px;
}
.time {
  margin-right: 15px;
}
.btn-list button {
  color: #000000;
  background-color: #d3d3d3;
  border: 1px solid #000000;
}

/* for third test */
.answer-btn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  height: 500px;
}
.answer-btn-container button {
  min-width: 150px;
  background-color: #4d5ae5;
  color: #f4f4fd;
}

/* for fourth test */
.main-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.btn-list {
  flex-direction: column;
  row-gap: 15px;
}
.btn-list button {
  font-weight: 500;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  text-align: start;
  line-height: 1.5;
}

/* for fifth test */
.title {
  display: none;
  justify-content: center;
  padding: 0 20px;
  gap: 206px;
  font-size: 20px;
  font-weight: 900;
}
.test-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.right-wrapper {
  display: flex;
  align-items: baseline;
  gap: 36px;
}
.button-list {
  display: flex;
  gap: 16px;
}

.button-list .btn {
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
}
@media screen and (max-width: 479px) {
  .test-item-text {
    margin-bottom: 20px;
  }
  .answer-btn-container {
    row-gap: 30px;
    max-height: 70vh;
  }
  .answer-btn-container button {
    min-width: 110px;
    background-color: #4d5ae5;
    color: #f4f4fd;
  }

  .form-question {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form-question p {
    font-weight: 800;
  }

  .form-question button {
    max-width: 250px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    margin: 0 auto;
  }
  .result {
    font-size: 16px;
  }

  .date {
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  .test-item-text {
    min-height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .feedback-form label {
    font-size: 20px;
  }
  h1 {
    font-size: 22px;
  }
  .test-item-text {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .test-item-text {
    min-height: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .return a:hover {
    color: #086634;
  }
  .answer-btn:hover {
    background-color: #404bbf;
    color: #ffffff;
    border-color: #404bbf;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .test-item-text {
    min-height: 100px;
  }
  .btn-list button {
    min-width: 600px;
    font-size: 20px;
  }
}
