.test-item-text {
  font-size: 20px;
  min-height: 120px;
  text-align: center;
  margin-bottom: 10px;
}

.answer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  row-gap: 2px;
  column-gap: 6px;
}

.answer p {
  margin: 0;
}
