.test-item-text {
  font-size: 20px;
  min-height: 60px;
  text-align: center;
  margin-bottom: 10px;
}

.answer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  row-gap: 10px;
  column-gap: 10px;
}

.answer p {
  margin: 0;
}
